body {
    margin: 60px auto;
    width: 70%;
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align:     right;
}

footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    padding-right: 20px;
    padding-left:   15px;
    list-style-type: none;



}

nav ul li {

    border-right:  solid 1px darkgrey;
}


a {
    text-decoration: none;
    color: #999;
}
a:hover {
    color:#000;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul { 
    margin: 20px auto 40px; 
    font-size: 1.5em;

      list-style: none;
}

ul li {
    list-style: none;
}

.top {
    background-color: #23E89C;
    /*analogous color: #FF8600; from https://color.adobe.com/create/color-wheel/?base=2&rule=Analogous&selected=2&name=My%20Color%20Theme&mode=rgb&rgbvalues=1,0.027294054309890847,0.6461281053458496,0.1381959064168399,0.91,0.6098189233159417,1,0.5236283882836688,0,0.04550000000000004,0.1163077489355004,0.91,0.8938696566531462,1,0.050000000000000044&swatchOrder=0,1,2,3,4*/
}
