 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>


            <div class="row justify-content-center">
                    <br>
                   

                    <div  class="feature col-lg-3 col-md-3  col-md-offset-2 col-lg-offset-2" style="padding-bottom: 15px;" >
                    <img class="img-responsive" src="/img/filtering-v2.svg" style="margin-top: 5px; padding-bottom: 30px;" ></div>

                    <div class="col-lg-5 col-md-5   " style="text-align: justify;">
                    <h4>Revising the way we get news online</h4>
                    <p>The Inflo Project is next-generation social media platform for media professionals and news enthusiasts, which leverages the power of the community to regulate content shared within the platform. Using the latest AI technologies to empower people to be in control of the content they see, and a social framework which rewards users for quality interaction, we intend to revise the way information is shared and accessed online, all made possible by a business model which rewards <i>insights</i> over <i>engagement</i></p>

                    <form action='/howitworks'><button type='submit' class="btn btn-success btn-lg" style="display: block; margin: 30px auto 10px auto;" >See it in action</button></form>
                    <!--<h6 class="comingsoon">Coming Soon<h6> -->

                </div>
                     <!-- <div class="col-lg-4 col-lg-offset-2 text-center">
                          <form action="/unfeed">
<button type="submit" class="btn btn-success btn-lg">See it in action</button></form> -->
			</div>
        </div>
    
    </section>
