 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>The Inflo Project is an initiative to revise the way information is accessed and shared on the web. Current social media platforms are breaking down the information ecosystem by indulging in policial and financial misincentives, and data is being exploited on a mass scale.</p>
                </div>
                <div class="col-lg-4">
                    <p>That's why we're developing a new social media platform meant to empower people to be in control of the content they see, and  to reinstate the integrity of published information by rewarding quality over virality, all based on the values of trust, transparency, and community.</p>
                </div>
      
                <div class="row">
                    <div  class="feature" >
                    <img src="/img/filtering.png"></div>
                    <div class="col-lg-4 col-lg-offset-2">
                    <h1>Introducing the "Unfeed"</h1>
                    <p>For the first time in history, we will be making it possible to filter a social media feed according to one's individual interests. Through our automatic content classification system (see "research" section below) we'll allow users to curate their own intake of information from within their network. No longer do you have to scroll through a endless wall of posts before you find relevant content. Because we believe that a social media platform should be meant to nourish, not feed.</p>
                </div>

            </div>
        </div>
    </section>
