 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row justify-content-center">

                <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2" style="text-align: center; background-color: rgb(231, 236, 241); border-radius: 3px; padding:10px 15px 10px 15px;">

                    <h5>The Inflo Project is an initiative to revise the way information is accessed and shared on the web, through a new social platform meant to empower people to be in control of the content they see, and to reinstate the integrity of published information by rewarding quality over virality, all based on the values of <em>trust, transparency, and community</em>.</h5>
                </div>
      
                
                <!-- </div> -->
<br>
            </div>

            <div class="row justify-content-center">
                    <br>
                   

                    <div  class="feature col-lg-3 col-md-3  col-md-offset-2 col-lg-offset-2" style="padding-bottom: 15px;" >
                    <img class="img-responsive" src="/img/filtering-v2.svg" style="margin-top: 5px; padding-bottom: 30px;" ></div>

                    <div class="col-lg-5 col-md-5   " style="text-align: justify;">
                    <h4>Introducing the "Unfeed"</h4>
                    <p>For the first time in history, we will be making it possible to filter a social media feed according to one's individual interests. Through our automatic content classification system, we'll allow users to curate their own intake of information from within their network. No longer do you have to scroll through a endless wall of posts before you find relevant content. Because we believe that a content sharing platform should be meant to nourish its users with relevant and insightful information, not feed content based on algorithms optimizely purely for maximum engagement.</p>

                    <form action='/howitworks'><button type='submit' class="btn btn-success btn-lg" style="display: block; margin: 30px auto 10px auto;" >See it in action</button></form>
                    <!--<h6 class="comingsoon">Coming Soon<h6> -->

                </div>
                     <!-- <div class="col-lg-4 col-lg-offset-2 text-center">
                          <form action="/unfeed">
<button type="submit" class="btn btn-success btn-lg">See it in action</button></form> -->
			</div>
        </div>
    
    </section>
