 <!-- Header -->
    <header>
         <div class="container" style="margin-bottom: 0">
            <div class="row">
                <div class="col-lg-12 ">
                    
                    <div class="intro-text">
            <div class="row">
                <span class="name sub">Combinining artificial intelligence with human insights</span><span class="skills sub">To create the <strong>most efficient</strong> content navigation experience on the web</span>
            </div>
                    </div>
                </div>
            </div></div>
        
    </header>

 <!-- About Section -->
    <section class="tech" id="about">
    

            <div class="row cb_layout" style="padding:5%;">

 <div class="col-sm-9 text-left">
<h4>Revising an outdated information ecosystem</h4>
<p style="text-align: justify">More than 60% of social media users use it to access news content<sup>1</sup>. But traditional newsfeeds are not optimized for providing the most efficient access to relevant information, using black-box algorithms to show us what it <i>assumes</i> we want to see, often leading to lost time scrolling through an endless feed of irrelevant posts. News aggregators, on the other hand, cater to the general public and are not calibrated for consumption within a like-minded community. That's why we're building an alternative platform allowing users to get the content they want, from the people they trust.</p>
 </div>

 <div class="col-sm-3 feature" style="display:inline-block; float: right;">
<img src="/img/outdated.svg" style="display: inline-block;vertical-align: middle; float:none; height: 210px; width:100%; margin: auto;display:inline-block; padding-top: 0px;">
 </div>



</div>


  <div class="row cb_layout" style="padding:5% 5% 5% 5%; margin-top: 10px; margin-bottom: 20px; display: block; float: right;">

 

 <div class="col-sm-9 text-left" style="display: inline-block; float: right;">
<h4>Creating world's first social aggregation system</h4>
<p style="text-align: justify">Inflo's <i>unfeed</i> is a hybrid between a social media newsfeed and a news aggregator, allowing you to curate the content you see according to your interests, all within your network(s)&mdash;<i>no assumptions involved.</i> To do this, we are developing machine learning models to automatically classify web content&mdash;from their major categories (i.e. Politics, Business, Technology, etc) to their key terms: location, person(s) involved, and sub-sectors of the broader fields. 
  By applying automatic classification in this way, we intend to completely revolutionize the way people access relevant content on the web, in a major revision to the outdated services of search and traditional aggregation or social platforms.
</p>

       </div>


       <div class="col-sm-3 feature" style= "display: inline-block; float: right;">
<img src="/img/socialaggregation.svg" style="display: inline-block;vertical-align: middle; float:none; height: 210px; margin: 0 0 00px 0;display:inline-block; float: right; padding-top: 0px;">
</div></div>


    
     
        
        <div class="row" style="background-color:rgb(231, 236, 241); padding: 30px;">
            <p style="font-family:courier; font-size: 12px; ">[1] "News Use Across Social Media Platforms 2018", Pew Research Center, 2018. [Online]. Available: http://www.journalism.org/2018/09/10/news-use-across-social-media-platforms-2018/</p>

        </div>

    </section>
