 <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <div class="intro-text">
            <div class="row">
                <h2>Combinining artificial intelligence with human insights<h2><h4>to create the most efficient content navigation experience on the web</h4>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">

            <div class="row">

 <div class="col-lg-9 text-left">
<div style="vertical-align: middle;"><h4>An outdated information ecosystem</h4>
<p>More than 60% of social media users use it to access news content<sup>1</sup>. But traditional newsfeeds are not optimized for providing the most efficient access to relevant information, using black-box algorithms to show us what it <i>assumes</i> we want to see, often leading to lost time scrolling through an endless feed of irrelevant posts. News aggregators, on the other hand, cater to the general public and are not calibrated for consumption within a like-minded community.</p></div>
 </div>
 <div class="col-lg-3 feature">
<img src="/img/outdated.svg">
 </div>
  <div class="col-lg-12 text-center"><h2></h2></div>
 <div class="col-lg-3 feature">
<img src="/img/socialaggregation.svg">
 </div><div class="col-lg-9 text-left">
<h4>The Inflo Solution - A Social Aggregation System</h4>
<p>Inflo's <i>unfeed</i> is a hybrid between a social media newsfeed and a news aggregator, allowing you to curate the content you see according to your interests, all within your network(s)&mdash;<i>no assumptions involved.</i> To do this, we are developing machine learning models to automatically classify web content&mdash;from their major categories (i.e. Politics, Business, Technology, etc) to their key terms: location, person(s) involved, and sub-sectors of the broader fields. 
  By applying automatic classification in this way, we intend to completely revolutionize the way people access relevant content on the web, in a major revision to the outdated services of search and traditional aggregation or social platforms.
</p>
<br>
       </div>

    
     
        </div>
        <div class="row" style="background-color:rgb(231, 236, 241); padding: 20px; margin-bottom: 0">
            <p style="font-family:courier; font-size: 12px; ">[1] "Digital in 2017: Global Overview - We Are Social", We Are Social, 2017. [Online]. Available: https://wearesocial.com/special-reports/digital-in-2017-global-overview.</p>

        </div>

    </section>
