
<h5 style="margin-left:5%">May 31st, 2019</h5>
<div class="blog-entry-preview">
          <p>Our automatic content classification algorithm has been deployed as an API (hosted by <a href="www.render.com">Render</a>). Now any news article on the web can be processed through our state-of-the art deep learning algorithm and classified according to it's major category. Sample results can be viewed on <a href="https://twitter.com/InfloNews">this </a>Twitter account. The API will be used to process articles shared within the Inflo platform, to be released later this year.
          
      </p></div>
