 <!-- About Section -->
    <section class="success" id="about">
        <div class="container ">

<br><br><br>

                    
                    <div class="aboutRow">
                    <h2 style="margin-bottom: 12px;">What we are</h2>
                    <p>Inflo as a project was initiated in 2018 in collaboration with the System and Media Lab (<a href="http://symlab.ust.hk/">link</a>) at the Hong Kong University of Science and Technology.  Since then it has expanded into a corporate entity (registered in May 2018 as a private limited company in Hong Kong).  While it is intended to be a profitable startup company, we hold values that make it more than just a business, but also a force for social awareness. Being that it is 100% bootstrapped and self-funded, we have no stakeholders aiming it solely as a "vehicle for profit".  We intend to maintain slow and sustained growth as opposed to Silicon Valley style VC funded startups, which tend to fail more often than not, as VC's only expect success in 1/10th of their portfolio investments to make their desired return. </p>
                    <br>
                    <!--h5>Read more about our values as a business <a href=""> here</a>, and our motivation for the project <a href="">here</a>. </h5-->

                
                    <!--<h6 class="comingsoon">Coming Soon<h6> -->

                </div>
                    
                     <!-- <div class="col-lg-4 col-lg-offset-2 text-center">
                          <form action="/unfeed">
<button type="submit" class="btn btn-success btn-lg">See it in action</button></form> -->

        </div>
    
    </section>
