 <!-- About Section -->
    <section class="success" id="about">
        <div class="container ">

<br><br><br>


                    <div class="aboutRow">
                    <h2 style="margin-bottom: 12px;">What is Inflo</h2>
                    <p>Inflo is a project initiated in 2018 by <a href="twitter.com/noalgonick"Nick Sukiennik</a> in collaboration with the System and Media Lab (<a href="http://symlab.ust.hk/">link</a>) at the Hong Kong University of Science and Technology, as a revision on existing social media platforms for the purpose of sharing news. We have made use of cutting edge research and machine learning advances to create a new model for online content sharing which hold closely to the values of informative accuracy and reliability, without being exploited for profit through user data and ad targeting. The alpha platform was released in December 2019 with a limited subset of features. It can be accessed <a href="http://inflo.news/login">here</a>.</p>
                    <br>
                    <!--h5>Read more about our values as a business <a href=""> here</a>, and our motivation for the project <a href="">here</a>. </h5-->


                    <!--<h6 class="comingsoon">Coming Soon<h6> -->

                </div>

                     <!-- <div class="col-lg-4 col-lg-offset-2 text-center">
                          <form action="/unfeed">
<button type="submit" class="btn btn-success btn-lg">See it in action</button></form> -->

        </div>

    </section>
