    <!-- Header -->
    <header>
        <div class="container headerImage">
            <div class="row">
                <div class="col-lg-12">
                    
                    <div class="intro-text">
                        <span class="name" >{{ site.welcome }}</span>
                        <!-- <img class="img-responsive" src="img/flo-icon.png" alt=""> -->
                        <hr class="star-light"> 
                        <span class="skills">Kicking off a new era of <span class="skills-emphasized">responsible, reliable</span> content sharing.</span>
                    </div>
                    </div>

                    <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-top: 20px; margin-bottom: 0px;">
                        <br>
                   <a href="https://join.slack.com/t/informationevolution/shared_invite/enQtNDQyNTY0NTg4NDE2LTJhZDRmMTA3NTFjOTdmNzNhYzVmOGE0MzFjOThmZDM4NmNmYjlhNDRhYWI1Y2M4Y2Q3MjUxOGMyNzU5OTdmMWY">
                <button type="none" class="btn-slack btn-outline btn-success btn-lg">Join the discussion!</button></a>
</div>
                
            </div>
        </div>
    </header>