    <!-- Header -->
    <header>
        <div class="container headerImage">
            <div class="row">
                <div class="col-lg-12">

                    <div class="intro-text">
                        <span class="name" >{{ site.welcome }}</span>
                        <!-- <img class="img-responsive" src="img/flo-icon.png" alt=""> -->
                        <hr class="star-light">
                        <span class="skills">A quality driven news sharing and discussion platform</span>
                    </div>
                    </div>

                    <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-top: 20px; margin-bottom: 0px;">
                        <br>
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>

    <h4 style="color:#233140;">Alpha platform online now.</h4>
<h5 style="color:#434654">Click <a href="http://inflo.news/login">here</a> to get started.</h5>
<h5 style="color:#434654">Or watch a <a href="https://youtu.be/f84mIVltoqo">video demo</a>.</h5>
                   <!--<a href="https://join.slack.com/t/informationevolution/shared_invite/enQtNDQyNTY0NTg4NDE2LTJhZDRmMTA3NTFjOTdmNzNhYzVmOGE0MzFjOThmZDM4NmNmYjlhNDRhYWI1Y2M4Y2Q3MjUxOGMyNzU5OTdmMWY">
                <button type="none" class="btn-slack btn-outline btn-success btn-lg">Join the discussion!</button></a>-->
</div>

            </div>
        </div>
    </header>
