
    <!-- Portfolio Grid Section -->
    <section class="portfolio" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Technology</h2>
                    <hr class="star-light">
                    <h4>Revising Content Navigability through AI</h4>
                    <p>Making use of the most recent machine learning advances, open source libraries, and virtually tons of data, we are taking on the unprecedented task of automatically classifying ANY piece of content on the web, so that, once posted to the Inflo platform, it can be easily filtered, in or out, of one's "unfeed".</p><br>
                     <h4>Developing Trust</h4>
                <p>The obvious next step is to analyze content at a deeper level, to assess it's reliability by detecting bias, clickbait, and misinformation. Our efforts toward this goal are well underway, having recently initiated efforts to develop upon this research area after spending more than one year consolidating all relevant literaure and significant results in the field, all of which will result in the first ever qualitative labeling of content trust in a social platform.</p>
                </div>
            </div>
            <div class="row">

            </div>
        </div>
    </section>