    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <div class="intro-text">
            <div class="row">
                <span class="name sub">Revitalizing the media industry</span><span class="skills sub">With new consumer insights and a more sustainable business model for publishers</span>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </header>