    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <div class="intro-text">
            <div class="row">
                <span class="name sub">Revitalizing the media industry</span><span class="skills sub">With new consumer insights and a more sustainable business model for publishers</span>
            </div>
                    </div>
                      <div class="row" style="margin-top: 15px; padding: 30px 0">
       <div class="col-sm-12 text-center">
  <br>
  <a href="mailto:admin@infloproject.com">
<button type="submit" class="btn btn-success btn-lg" >Partner with Us</button></a>
  <!-- <form action="mailto:admin@infloproject.com">
<button type="submit" class="btn btn-success btn-lg" >Partner with Us</button></form> --> 
</div>
</div>
                </div>
            </div>
        </div>
    </header>