 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">

            <div class="row">

 <div class="col-lg-9 text-left">
<h4>Intelligence to inspire quality content</h4>
<p><i>A new, holistic way to gauge reader engagement.</i>
Inflo will be monetized by offering intelligence packages to publishers, allowing them to understand trends of sharing and interaction, and use it to guide their publication initiatives. By transforming in-depth sentiment and opinion analysis into actionable reception indicators, we make it possible to optimize the quality of content, rather than using naive metrics like clicks and likes to evaluate reach and impact. We want to empower publishers with the information needed to not only increase readership, but improve the overall standard of reporting.</p>
 </div>
 <div class="col-lg-3 feature">
<img src="/img/insights.svg">
 </div>
  <div class="col-lg-12 text-center"><h2></h2></div>
 <div class="col-lg-3 feature">
<img src="/img/subscription.svg">
 </div><div class="col-lg-9 text-left">
<h4>Organically increase subscription rates</h4>
<p><i>Increase revenue from subscriptions by joining our premium package plan.</i>
This innovative service drives subscriptions to individual news publications by offering a third-party, combo-package of premium content from across several publishers. Making it convenient, affordable, and easy to access previously paywalled content for the typical user. By normalizing paid subscriptions through such an attractive payment scheme, we foresee this kind of subscription package to revitalize the media industry after its struggle to adapt to the ad-based revenue model as required by the shift to the digital format.</p>

       </div>

       <div class="col-lg-12 text-center">
  <br>
  <a href="mailto:admin@infloproject.com">
<button type="submit" class="btn btn-success btn-lg" >Partner with Us</button></a>
  <!-- <form action="mailto:admin@infloproject.com">
<button type="submit" class="btn btn-success btn-lg" >Partner with Us</button></form> --> 
</div>
     
        </div>
    </section>
