 <!-- Header -->
    <header>
        <div class="container" style="margin-bottom: 0">
            <div class="row">
                <div class="col-lg-12">
                    
                    <div class="intro-text">
            <div class="row">
                <span class="name sub">Taking a hard stance on malicious content from the start</span>
                <span class="skills sub">Building a platform with <strong>quality</strong> in mind</span>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

 <!-- About Section -->
    <section class="tech" id="about" >
       

            <div class="row cb_layout" style="padding:5%;">

 <div class="col-sm-9 text-left" style="margin-top: 0px; display: inline-block;">
<h4>Countering the spread of misinformation</h4>
<p style="text-align: justify">Social media was never meant to handle news. That's why so many platforms today are allocating incredible amounts of time and effort to manually controlling the quality of the information they help to spread. But this is not an effective solution, and false information continues to spread abundantly via social media<sup>1</sup>. Meanwhile, controversies about who or what should be allowed on social platforms arise on a regular basis, making clear the need for an alternative, responsible place to and consume&mdash;and share&mdash;news. That's why we've taken an automated approach to label any content deemed potentially untrustworty, in order expedite the process of propagating <i>reliable</i> information.</p>
 </div>

 <div class="col-sm-3 feature" 

 style="display:inline-block; float: right; margin:0 auto;">

<img src="/img/lessTruth.svg" style="display: inline-block;vertical-align: middle; float:none; height: 210px; width:100%; margin: auto;display:inline-block; padding-top: 0px;">
 </div>

      </div>

    <div class="row cb_layout" style="padding:5%; margin-top: 10px; margin-bottom: 20px;">

 

 <div class="col-sm-9 text-left" style="margin: 0px 0; display:inline-block; float: right;">
<h4>Developing a holistic view of reliability</h4>
<p style="text-align: justify"><i/>Fake, or fabricated news is only the tip of the iceberg when it comes to low-quality content.</i> So instead of using naive methods as binary true/false labeling or underhandedly hiding certain content from view, we're developing machine learning models to detect low-quality information on multiple dimensions, resulting in a set of content "nutrition facts" intended to offer users objective insights enabling them to make informed decisions on the content they choose to read. What's more, the results of our algorithms&mdash;including accuracy&mdash;will be presented in an entirely transparent, objective way, and subject to review&mdash;because we believe a social platform should be responsible for the integrity of the content it serves.
</p>

       </div>

       
<div class="col-sm-3 feature" 

 style="display:inline-block; float: right;">

<img src="/img/toHeart.svg" style="display: inline-block;vertical-align: middle; float:none; height: 210px; width:100%; margin: auto;display:inline-block; padding-top: 0px;">
 </div>



    </div>
     
   <div class="row" style="background-color:rgb(231, 236, 241); padding: 20px; margin-bottom: 0">
            <p style="font-family:courier; font-size: 12px; ">[1] Soroush Vosoughi, Deb Roy, and Sinan Aral. 2018. The spread of true and false news online. Science 359, 6380 (March 2018), 1146–1151. https://doi.org/10.1126/science.aap9559</p>

        </div>
    </section>
