 <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <div class="intro-text">
            <div class="row">
                <h2>Taking a hard stance on malicious content from the start<h2><h4>Building a platform with quality in mind</h4>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">

            <div class="row">

 <div class="col-sm-9 text-left" style="margin-top: 10px">
<h4>More content, less truth</h4>
<p>The social media platforms of today are constantly flooded with content that is meant to mislead, in the form of clickbait or false news, or comes from a standpoint of extreme bias, making the information therein unreliable. </p>
 </div>

 <div class="col-sm-3 feature">
<img src="/img/lessTruth.svg">
 </div>

      </div>

    <div class="row">

 <div class="col-sm-3 feature">
<img src="/img/toHeart.svg">
 </div>

 <div class="col-sm-9 text-left" style="margin-top: 35px">
<h4>Taking reliability to heart</h4>
<p>We're developing machine learning models to detect low-quality information on multiple dimensions, the results of which will be presented in an entirely transparent, objective way, because we believe a social platform should be responsible for the integrity of the content it serves.  
</p>

       </div>

    </div>
     
  
    </section>
