 <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <div class="intro-text">
            <div class="row">
                <span class="name sub">Taking a hard stance on malicious content from the start</span>
                <span class="skills sub">Building a platform with <strong>quality</strong> in mind</span>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">

            <div class="row">

 <div class="col-sm-9 text-left" style="margin-top: 10px">
<h4>Countering the spread of misinformation</h4>
<p>Social media was never meant to handle news. That's why so many platforms today are allocating incredible amounts of time and effort to manually controlling the quality of the information they help to spread. But this is not an effective solution, and despite the efforts false information tends to spread even faster than accurate reporting<sup>1</sup>. Meanwhile, controversies about who or what should be allowed on social platforms arise on a regular basis, all of which makes clear the need for an alternative, responsible place to and consume&mdash;and share&mdash;news. That's why we've taked an automated approach to label any content deemed potentially untrustworty, in order to scale up the process of propagating <i>reliable</i> information.</p>
 </div>

 <div class="col-sm-3 feature" style=" height: 270px; display: flex; align-items: center;">
<img src="/img/lessTruth.svg">
 </div>

      </div>

    <div class="row" >

 <div class="col-sm-3 feature" style=" height: 210px; display: flex; align-items: center;">
<img src="/img/toHeart.svg"  >
 </div>

 <div class="col-sm-9 text-left" >
<h4>Developing holistic view of reliability</h4>
<p>Instead of using naive methods as binary true/false labeling or underhandedly hiding certain content from view, we're developing machine learning models to detect low-quality information on multiple dimensions, resulting in a set of content "nutrition facts" intended to offer users objective insights enabling them to make informed decisions on the content they choose to read. What's more, the results of our algorithms&mdash;including accuracy&mdash;will be presented in an entirely transparent, objective way, and subject to review&mdash;because we believe a social platform should be responsible for the integrity of the content it serves.
</p>

       </div>

    </div>
     
   <div class="row" style="background-color:rgb(231, 236, 241); padding: 20px; margin-bottom: 0">
            <p style="font-family:courier; font-size: 12px; ">[1] Soroush Vosoughi, Deb Roy, and Sinan Aral. 2018. The spread of true and false news online. Science 359, 6380 (March 2018), 1146–1151. https://doi.org/10.1126/science.aap9559</p>

        </div>
    </section>
