 <!-- Contact Section -->

    <section class="team" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Team</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row text-center">
                           


<div class="cb_container col" id="cont-t1cb2">
    <div class="cb_layout" id="t1CB2">
        <br>
    <div  id="IPI" class="imagePlusInfo">
            <div class="image_container"><img src="img/ns2.png"></div>
            <div id="cb2-info" class="info">
                 
                
                <h4>Nick Sukiennik</h4>
                <h6>Project Lead</h6>
                </div>
        </div>
        
        <br>
        <div id="BUTTONLAYER" class="cb_button-layer">

        


    <a href="http://www.twitter.com/sukienniko"> <div class="buttonContain" id="commentBtnContain"><img id="commentBtn1" src="img/twit.png"></div></a>

    </div>

    </div>
    
</div>




<!-- TEAM MEMBER 2-->

  <div class="cb_container col" id="cont-t1cb2">
    <div class="cb_layout" id="t1CB2">
        <br>
    <div  id="IPI" class="imagePlusInfo">
            <div class="image_container"><img id="CB139-img" src="img/pranav.jpeg"></div>
            <div id="cb2-info" class="info">
                 
                
                <h4>Pranav</h4>
                <h6 >AI Engineer</h6>
                </div>
        </div>
        
        <br>
        <div id="BUTTONLAYER" class="cb_button-layer">

        


  <a href="http://www.twitter.com/pranav_nlp"> <div class="buttonContain" id="commentBtnContain"><img id="commentBtn1" src="img/twit.png"></div></a>

    </div>

    </div>
    
</div>
  

<!-- TEAM MEMBER 3-->


 <div class="cb_container col" id="cont-t1cb2">
    <div class="cb_layout" id="t1CB2">
        <br>
    <div  id="IPI" class="imagePlusInfo">
            <div class="image_container"><img id="CB139-img" src="img/ben.jpg"></div>
            <div id="cb2-info" class="info">
                 
                
                <h4>Dr. Pan Hui</h4>
                <h6 >Advisor</h6>
                </div>
        </div>
        
        <br>
        <div id="BUTTONLAYER" class="cb_button-layer">

        


    <!-- <div class="buttonContain" id="commentBtnContain"><img id="commentBtn1" src="img/twit.png"></div> -->

    </div>

    </div>
    
</div>



<!-- TEAM MEMBER 4-->

               
               
            </div>
        </div>
    </section>