

    <!-- Portfolio Grid Section -->
    <section class="team" id="technology">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Technology</mark></h2>
                    <hr class="star-primary"></div></div>
 <div class="row justify-content-center ">
    <div class="col-lg-6  text-center cb_layout" style="padding:50px;">
                    <h4>Curate your own intake of information</h4>
                    <img class=technology-img src=" img/AI.svg">
                    <p>In an age of echo-chambing inducing algorithmic content feeds, Inflo is taking a step into the future allowing the user to see what they want, when they want. By automatically classifying content posted to the platform using the latest deep learning/NLP advances, we will, for the first time ever, allow users to filter content according to topics of interest <i>within</i> a social network. </p>
                    <form action="/autoClassification">
                    <button type='submit' class="btn btn-lg" style="margin-top:15px; margin-bottom: -5px;">Learn more</button></form>
                    </div></div>
                    <br>
                     

                     <div class="row justify-content-center" style="display: inline-block; float: right;">
                        <div class="col-lg-10 col-lg-offset-1 text-center cb_layout" style="padding:50px;">
                     <h4>Quantifying Insights and Expertise/h4>
                     <img class=technology-img src=" img/reliability.svg">
                <p> We believe knowledge is meant to be shared, and those who share it deserve to be rewarded. Inflo will rewarding users for quality insights and interaction, cultivating a self-regulating community of experts and news enthusiasts. No more polarized comments, trolling, or spam. Only knowledge, and insights.</p>
                 
                </div></div>
            </div>

        </div>
    </section>