

    <!-- Portfolio Grid Section -->
    <section class="team" id="technology">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Technology</mark></h2>
                    <hr class="star-primary"></div></div>
 <div class="row justify-content-center ">
    <div class="col-lg-6  text-center cb_layout" style="padding:50px;">
                    <h4>Social Content Aggregation System</h4>
                    <img class=technology-img src=" img/AI.svg">
                    <p>Making use of the most recent machine learning advances, open source libraries, and virtual <i>tons</i> of data, we are taking on the unprecedented task of automatically classifying <i>any</i> piece of content on the web, so that, once posted to the Inflo platform, it can be easily filtered, in or out, of one's "unfeed".</p>
                    <form action="/autoClassification">
                    <button type='submit' class="btn btn-success btn-lg" style="margin-top:15px; margin-bottom: -5px;">Learn more</button></form>
                    </div></div>
                    <br>
                     

                     <div class="row justify-content-center" style="display: inline-block; float: right;">
                        <div class="col-lg-10 col-lg-offset-1 text-center cb_layout" style="padding:50px;">
                     <h4>Holistic Reliability Assessment</h4>
                     <img class=technology-img src=" img/trust.svg">
                <p>The obvious next step is to analyze content at a deeper level, and to assess it's reliability by detecting bias, clickbait, and misinformation. Our efforts toward this goal are well underway, having recently initiated efforts to develop upon this research area after spending more than one year consolidating all relevant literature and significant results in the field, all of which will take the form of the <i>first ever qualitative labeling of content trust in a social platform.</i></p>
                 <form action="/reliabilityAssessment">
                <button type="submit" class="btn btn-success btn-lg" style="margin-top:15px; margin-bottom: -5px;" >Learn more</button></form>
                </div></div>
            </div>

        </div>
    </section>