

    <!-- Portfolio Grid Section -->
    <section class="success" id="technology">
        <div class="container">

 <div class="cb_layout vertCenter justify-content-center ">
 
    
        <div class="technology-img feature">
<img src=" img/filtering-v2.svg">
 </div>
 <div class="col-sm-9 text-left">
                    <h4>A curation format designed for you (not advertisers)</h4>
                    
                    <p>Inflo is flouting the norm by allowing users to see what they want, when they want — instead being force fed by an algorithm. We've developed an automatic classification system using the latest in machine learning advances, which lets you simply select your topics of interest, and immediately see what's being discussed about them. Finally, a feed you can trust.</p>
                    <a href="https://arxiv.org/abs/1812.03781"><h5>Learn more about our technology.</h5></a>
       
</div>

                </div>
                    <br>
                     

     <div class="cb_layout vertCenter justify-content-center" style="display: inline-block; float: right;">
            
         <div class="col-sm-9 text-left">
        <h4>Intelligence to inspire</h4>
        <p style="text-align: justify">
        Inflo will offer intelligence reports based on anonymized activity within the platform, allowing publishers, firms, and researchers to get the edge on the latest trends. By transforming engagement metrics into actionable data, we can visualize trends and generate sentiment indicators, offering an in depth look into the content that's being shared online.</p>

        <a href="mailto:admin@infloproject.com"><h5>Request a sample report.</h5></a>
         </div>
                 <div class="technology-img  feature">
                <img src="/img/insights.svg">
                 </div>
      
</div>
   
    </section>