 <!-- About Section -->
    <section class="team" id="values">
        <div class="valuesRow container">

            <div class="valuesCol justify-content-center">
                <div class="value" style="text-align:justify">
                    
                   <!--img src="img/trust.png" style="display:block; margin: auto; max-width:50px;"--> <h4 style="text-align:center">👎 No ads</h4>
                    <p>Facilitating the flow of information is a serious task. That's why we're committed to making sure your data will never be exploited for ad-targeting.</p>
                </div>
                <div class="value" style="text-align:justify">
                    <!--img src="img/transparency.png" style="display:block; margin: auto; max-width:50px;"-->
                    <h4 style="text-align:center">👎 No algorithmic feed</h4>
                    <p>We are paving the way for a new, user-oriented way of accessing information, where <i> only you </i>control what you see. No more echo-chamber inducing algorithmic content feeds.</p>
                </div>
                <div class="col-sm-4 value" style="text-align:justify">
                    <!--img src="img/community.png" style="display:block; margin: auto; max-width:50px;"-->
                    <h4 style="text-align:center">👎 No liking system</h4>
                    <p>We are creating an ecosystem that rewards those who bring something new to the conversation, because we believe in the power of discussion, and not shallow "likes" or vague "reactions".</p>
                </div>
            </div>
                 <div class="valuesCol justify-content-center">
                <div class="col-sm-4 value" style="text-align:justify">
                    
                   <!--img src="img/trust.png" style="display:block; margin: auto; max-width:50px;"--> <h4 style="text-align:center">👍 A nutritional content feed</h4>
                    <p>A non-algorithmic, ad-free feed means eliminating the factors that make clickbait and "fake news" lucrative, and getting toxic sponsored content out of your media diet. </p>
                </div>
                <div class="col-sm-4 value" style="text-align:justify">
      
                    <h4 style="text-align:center">👍 AI with good intentions</h4>
                    <p>A classification and content filtering system means you can see the content you want to see, any time you want to see it. We don't make assumptions. You're in control. </p>
                </div>
                <div class="col-sm-4 value" style="text-align:justify">
             
                    <h4 style="text-align:center">👍 A community of insights</h4>
                    <p>Our commentary voting system has been designed to reward insights and expertise, transforming the comments section from a polarized virality contest, into a town hall for knowledge sharing.</p>
                </div>
      
               
        </div>
    </div>
    </section>
