 <!-- About Section -->
    <section class="success" id="values">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Values</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-4 text-center" style="text-align:justify">
                    
                   <img src="img/value-trust.png" style="display:block; margin: auto"> <h4 style="text-align:center">Trust</h4>
                    <p>We are taking accountabilty for our role as a facilitator of the flow of information and an enabler of public dialogue. We know this is a big responsibility, as and such, we're committed to making sure our users' data will never be exploited for ad-targeting. That's why we've made the decision not to host any sponsored content on our platform, <i>ever</i>.</p>
                </div>
                <div class="col-sm-4" style="text-align:justify">
                    <img src="img/value-transparency.png" style="display:block; margin: auto">
                    <h4 style="text-align:center">Transparency</h4>
                    <p>In an age of black-box algorithms generating toxic bias-confirming content feeds, we are paving the way for a new, user-oriented way of accessing information, where <i> only you</i> are in control of what you see. Our goal is to facililate the sharing of and access to relevant information, not to maximize engagement for the sake of piling up ill-gained revenues.</p>
                </div>
                <div class="col-sm-4" style="text-align:justify">
                    <img src="img/value-community.png" style="display:block; margin: auto">
                    <h4 style="text-align:center">Community</h4>
                    <p>Our content sharing platform is designed to be a conducive environment for contructive dialogue. We are creating an ecosystem that nurtures the exchange of ideas and rewards those who bring something new to the conversation, capitalizing on the unique knowledge and perspective of each individual. Because we believe in the power of discussion, and not shallow "likes" or vague "reactions".</p>
                </div>
      
               
        </div>
    </section>
