 <!-- About Section -->
    <section class="team" id="values">
        <div class="valuesRow container">

            <div class="valuesCol justify-content-center">
                <div class="value" style="text-align:justify">
                    
                   <!--img src="img/trust.png" style="display:block; margin: auto; max-width:50px;"--> <h4 style="text-align:center">👎 No ads</h4>
                    <p>Facilitating the flow of information is a serious task. That's why we're committed to making sure our users' data will never be exploited for ad-targeting.</p>
                </div>
                <div class="value" style="text-align:justify">
                    <!--img src="img/transparency.png" style="display:block; margin: auto; max-width:50px;"-->
                    <h4 style="text-align:center">👎 No algorithmic feed</h4>
                    <p>We are paving the way for a new, user-oriented way of accessing information, where <i> only you</i> are in control of what you see. No more polarizing and echo-chamber inducing algorithmic content feeds.</p>
                </div>
                <div class="col-sm-4 value" style="text-align:justify">
                    <!--img src="img/community.png" style="display:block; margin: auto; max-width:50px;"-->
                    <h4 style="text-align:center">👎 No polarized discussion</h4>
                    <p>We are creating an ecosystem that nurtures the exchange of ideas and rewards those who bring something new to the conversation, capitalizing on the unique knowledge and perspective of each individual. Because we believe in the power of discussion, and not shallow "likes" or vague "reactions".</p>
                </div>
            </div>
                 <div class="valuesCol justify-content-center">
                <div class="col-sm-4 value" style="text-align:justify">
                    
                   <!--img src="img/trust.png" style="display:block; margin: auto; max-width:50px;"--> <h4 style="text-align:center">👍 A feed curated by you</h4>
                    <p>Our classifcation and content filtering system means you can see the content you want to see. Period. We don't make assumptions. You're in control.</p>
                </div>
                <div class="col-sm-4 value" style="text-align:justify">
      
                    <h4 style="text-align:center">👍 An insight driven commenting system</h4>
                    <p>Our commentary and voting system has been designed to reward insights, making the comments section less of a virality contest. Taking cues from Quora and Stackoverflow, we think we may have hit the nail on the head with this one.</p>
                </div>
                <div class="col-sm-4 value" style="text-align:justify">
             
                    <h4 style="text-align:center">👍 A community designed for knowledge sharing</h4>
                    <p>Well, this is basically a reiteration of everything we've said already, but things look good in threes.</p>
                </div>
      
               
        </div>
    </div>
    </section>
